bootstraps/Batch-Customer.json
{
    "flowContents": {
        "identifier": "a7a0748e-0ba1-33f9-8fa4-5d695add0323",
        "instanceIdentifier": "4b85c830-0199-1000-412b-2ab1449a9c7a",
        "name": "Batch-Customer",
        "comments": "",
        "position": {
            "x": -776.0,
            "y": -528.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "3c8fee70-d1eb-3f80-b941-aa40c6fd2725",
                "instanceIdentifier": "4b83264e-0199-1000-1015-a967dc71b218",
                "name": "PutS3Object",
                "comments": "",
                "position": {
                    "x": -120.0,
                    "y": -432.0
                },
                "type": "org.apache.nifi.processors.aws.s3.PutS3Object",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-aws-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "FullControl User List": "${s3.permissions.full.users}",
                    "Owner": "${s3.owner}",
                    "proxy-configuration-service": null,
                    "Resource Transfer Source": "FLOWFILE_CONTENT",
                    "Cache Control": null,
                    "s3-object-remove-tags-prefix": "false",
                    "Endpoint Override URL": "http://minio:9000",
                    "File Resource Service": null,
                    "Multipart Upload Max Age Threshold": "7 days",
                    "custom-signer-class-name": null,
                    "canned-acl": "${s3.permissions.cannedacl}",
                    "custom-signer-module-location": null,
                    "Signer Override": "Default Signature",
                    "Content Type": null,
                    "server-side-encryption": "None",
                    "Write ACL User List": "${s3.permissions.writeacl.users}",
                    "encryption-service": null,
                    "Read ACL User List": "${s3.permissions.readacl.users}",
                    "Content Disposition": null,
                    "Storage Class": "Standard",
                    "Multipart Part Size": "5 GB",
                    "use-chunked-encoding": "true",
                    "Object Key": "/customers/${now():toNumber():format('yyyy-MM-dd')}/${UUID()}.json",
                    "AWS Credentials Provider service": "65b39d31-c546-3165-8505-ede24462a906",
                    "Multipart Threshold": "5 GB",
                    "s3-object-tags-prefix": null,
                    "SSL Context Service": null,
                    "Bucket": "bronze",
                    "Multipart Upload AgeOff Interval": "60 min",
                    "use-path-style-access": "false",
                    "Write Permission User List": "${s3.permissions.write.users}",
                    "Communications Timeout": "30 secs",
                    "Region": "us-west-2",
                    "Read Permission User List": "${s3.permissions.read.users}",
                    "Expiration Time Rule": null,
                    "s3-temporary-directory-multipart": "${java.io.tmpdir}"
                },
                "propertyDescriptors": {
                    "FullControl User List": {
                        "name": "FullControl User List",
                        "displayName": "FullControl User List",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Owner": {
                        "name": "Owner",
                        "displayName": "Owner",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "proxy-configuration-service": {
                        "name": "proxy-configuration-service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Resource Transfer Source": {
                        "name": "Resource Transfer Source",
                        "displayName": "Resource Transfer Source",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Cache Control": {
                        "name": "Cache Control",
                        "displayName": "Cache Control",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "s3-object-remove-tags-prefix": {
                        "name": "s3-object-remove-tags-prefix",
                        "displayName": "Remove Tag Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Endpoint Override URL": {
                        "name": "Endpoint Override URL",
                        "displayName": "Endpoint Override URL",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "File Resource Service": {
                        "name": "File Resource Service",
                        "displayName": "File Resource Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Multipart Upload Max Age Threshold": {
                        "name": "Multipart Upload Max Age Threshold",
                        "displayName": "Multipart Upload Max Age Threshold",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "custom-signer-class-name": {
                        "name": "custom-signer-class-name",
                        "displayName": "Custom Signer Class Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "canned-acl": {
                        "name": "canned-acl",
                        "displayName": "Canned ACL",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "custom-signer-module-location": {
                        "name": "custom-signer-module-location",
                        "displayName": "Custom Signer Module Location",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "FILE",
                                "DIRECTORY"
                            ]
                        }
                    },
                    "Signer Override": {
                        "name": "Signer Override",
                        "displayName": "Signer Override",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Content Type": {
                        "name": "Content Type",
                        "displayName": "Content Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "server-side-encryption": {
                        "name": "server-side-encryption",
                        "displayName": "Server Side Encryption",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Write ACL User List": {
                        "name": "Write ACL User List",
                        "displayName": "Write ACL User List",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "encryption-service": {
                        "name": "encryption-service",
                        "displayName": "Encryption Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Read ACL User List": {
                        "name": "Read ACL User List",
                        "displayName": "Read ACL User List",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Content Disposition": {
                        "name": "Content Disposition",
                        "displayName": "Content Disposition",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Storage Class": {
                        "name": "Storage Class",
                        "displayName": "Storage Class",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Multipart Part Size": {
                        "name": "Multipart Part Size",
                        "displayName": "Multipart Part Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "use-chunked-encoding": {
                        "name": "use-chunked-encoding",
                        "displayName": "Use Chunked Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Object Key": {
                        "name": "Object Key",
                        "displayName": "Object Key",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "AWS Credentials Provider service": {
                        "name": "AWS Credentials Provider service",
                        "displayName": "AWS Credentials Provider Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Multipart Threshold": {
                        "name": "Multipart Threshold",
                        "displayName": "Multipart Threshold",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "s3-object-tags-prefix": {
                        "name": "s3-object-tags-prefix",
                        "displayName": "Object Tags Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Bucket": {
                        "name": "Bucket",
                        "displayName": "Bucket",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Multipart Upload AgeOff Interval": {
                        "name": "Multipart Upload AgeOff Interval",
                        "displayName": "Multipart Upload AgeOff Interval",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "use-path-style-access": {
                        "name": "use-path-style-access",
                        "displayName": "Use Path Style Access",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Write Permission User List": {
                        "name": "Write Permission User List",
                        "displayName": "Write Permission User List",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Communications Timeout": {
                        "name": "Communications Timeout",
                        "displayName": "Communications Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Region": {
                        "name": "Region",
                        "displayName": "Region",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Read Permission User List": {
                        "name": "Read Permission User List",
                        "displayName": "Read Permission User List",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Expiration Time Rule": {
                        "name": "Expiration Time Rule",
                        "displayName": "Expiration Time Rule",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "s3-temporary-directory-multipart": {
                        "name": "s3-temporary-directory-multipart",
                        "displayName": "Temporary Directory Multipart State",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "a7a0748e-0ba1-33f9-8fa4-5d695add0323"
            },
            {
                "identifier": "d6568b8b-3713-36d2-9948-2f92d1ea50a0",
                "instanceIdentifier": "4b81c0df-0199-1000-9c60-92e5bd43d1e7",
                "name": "CustomerCOnsumKafka",
                "comments": "",
                "position": {
                    "x": -776.0,
                    "y": -424.0
                },
                "type": "org.apache.nifi.kafka.processors.ConsumeKafka",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-kafka-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "Topics": "sales.commerce_db.customers",
                    "Commit Offsets": "true",
                    "Header Name Pattern": null,
                    "Key Format": "byte-array",
                    "Key Record Reader": null,
                    "Message Demarcator": null,
                    "Record Reader": null,
                    "Key Attribute Encoding": "utf-8",
                    "Topic Format": "names",
                    "Header Encoding": "UTF-8",
                    "Max Uncommitted Time": "100 millis",
                    "Kafka Connection Service": "951ac1a6-4d98-3da3-8c96-bf96539c287b",
                    "Separate By Key": "false",
                    "Processing Strategy": "FLOW_FILE",
                    "Record Writer": null,
                    "Group ID": "customers",
                    "auto.offset.reset": "latest",
                    "Output Strategy": "USE_VALUE"
                },
                "propertyDescriptors": {
                    "Topics": {
                        "name": "Topics",
                        "displayName": "Topics",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Commit Offsets": {
                        "name": "Commit Offsets",
                        "displayName": "Commit Offsets",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Header Name Pattern": {
                        "name": "Header Name Pattern",
                        "displayName": "Header Name Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Key Format": {
                        "name": "Key Format",
                        "displayName": "Key Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Key Record Reader": {
                        "name": "Key Record Reader",
                        "displayName": "Key Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Message Demarcator": {
                        "name": "Message Demarcator",
                        "displayName": "Message Demarcator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Reader": {
                        "name": "Record Reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Key Attribute Encoding": {
                        "name": "Key Attribute Encoding",
                        "displayName": "Key Attribute Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Topic Format": {
                        "name": "Topic Format",
                        "displayName": "Topic Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Header Encoding": {
                        "name": "Header Encoding",
                        "displayName": "Header Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Max Uncommitted Time": {
                        "name": "Max Uncommitted Time",
                        "displayName": "Max Uncommitted Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kafka Connection Service": {
                        "name": "Kafka Connection Service",
                        "displayName": "Kafka Connection Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Separate By Key": {
                        "name": "Separate By Key",
                        "displayName": "Separate By Key",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Processing Strategy": {
                        "name": "Processing Strategy",
                        "displayName": "Processing Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Writer": {
                        "name": "Record Writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Group ID": {
                        "name": "Group ID",
                        "displayName": "Group ID",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "auto.offset.reset": {
                        "name": "auto.offset.reset",
                        "displayName": "Auto Offset Reset",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Output Strategy": {
                        "name": "Output Strategy",
                        "displayName": "Output Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "a7a0748e-0ba1-33f9-8fa4-5d695add0323"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "74d9f038-5d5b-3ce0-89df-0fe3959868a0",
                "instanceIdentifier": "4b85302d-0199-1000-3ac5-96847c0eccfa",
                "name": "",
                "source": {
                    "id": "d6568b8b-3713-36d2-9948-2f92d1ea50a0",
                    "type": "PROCESSOR",
                    "groupId": "a7a0748e-0ba1-33f9-8fa4-5d695add0323",
                    "name": "CustomerCOnsumKafka",
                    "comments": "",
                    "instanceIdentifier": "4b81c0df-0199-1000-9c60-92e5bd43d1e7"
                },
                "destination": {
                    "id": "3c8fee70-d1eb-3f80-b941-aa40c6fd2725",
                    "type": "PROCESSOR",
                    "groupId": "a7a0748e-0ba1-33f9-8fa4-5d695add0323",
                    "name": "PutS3Object",
                    "comments": "",
                    "instanceIdentifier": "4b83264e-0199-1000-1015-a967dc71b218"
                },
                "labelIndex": 0,
                "zIndex": 1,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "a7a0748e-0ba1-33f9-8fa4-5d695add0323"
            },
            {
                "identifier": "e780b8a5-1dad-38bf-ae88-37d9d018ff9d",
                "instanceIdentifier": "4b857b5f-0199-1000-ab82-f3a69b50b8fc",
                "name": "",
                "source": {
                    "id": "3c8fee70-d1eb-3f80-b941-aa40c6fd2725",
                    "type": "PROCESSOR",
                    "groupId": "a7a0748e-0ba1-33f9-8fa4-5d695add0323",
                    "name": "PutS3Object",
                    "comments": "",
                    "instanceIdentifier": "4b83264e-0199-1000-1015-a967dc71b218"
                },
                "destination": {
                    "id": "c2f1a576-4963-3064-be4d-8900947ceff7",
                    "type": "FUNNEL",
                    "groupId": "a7a0748e-0ba1-33f9-8fa4-5d695add0323",
                    "name": "Funnel",
                    "comments": "",
                    "instanceIdentifier": "4b856de2-0199-1000-fb48-52a3dd8eca6a"
                },
                "labelIndex": 0,
                "zIndex": 3,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "a7a0748e-0ba1-33f9-8fa4-5d695add0323"
            },
            {
                "identifier": "f3ff2e86-8e6f-3ac5-ba4f-11edc08c4f76",
                "instanceIdentifier": "4b8555da-0199-1000-2e94-950bd29383e2",
                "name": "",
                "source": {
                    "id": "3c8fee70-d1eb-3f80-b941-aa40c6fd2725",
                    "type": "PROCESSOR",
                    "groupId": "a7a0748e-0ba1-33f9-8fa4-5d695add0323",
                    "name": "PutS3Object",
                    "comments": "",
                    "instanceIdentifier": "4b83264e-0199-1000-1015-a967dc71b218"
                },
                "destination": {
                    "id": "1b19900e-ac12-35ea-96ab-b283b49b67cb",
                    "type": "FUNNEL",
                    "groupId": "a7a0748e-0ba1-33f9-8fa4-5d695add0323",
                    "name": "Funnel",
                    "comments": "",
                    "instanceIdentifier": "4b854832-0199-1000-0600-3c6a4c1adbde"
                },
                "labelIndex": 0,
                "zIndex": 2,
                "selectedRelationships": [
                    "failure"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "a7a0748e-0ba1-33f9-8fa4-5d695add0323"
            }
        ],
        "labels": [],
        "funnels": [
            {
                "identifier": "c2f1a576-4963-3064-be4d-8900947ceff7",
                "instanceIdentifier": "4b856de2-0199-1000-fb48-52a3dd8eca6a",
                "position": {
                    "x": 496.0,
                    "y": -528.0
                },
                "componentType": "FUNNEL",
                "groupIdentifier": "a7a0748e-0ba1-33f9-8fa4-5d695add0323"
            },
            {
                "identifier": "1b19900e-ac12-35ea-96ab-b283b49b67cb",
                "instanceIdentifier": "4b854832-0199-1000-0600-3c6a4c1adbde",
                "position": {
                    "x": 504.0,
                    "y": -240.0
                },
                "componentType": "FUNNEL",
                "groupIdentifier": "a7a0748e-0ba1-33f9-8fa4-5d695add0323"
            }
        ],
        "controllerServices": [
            {
                "identifier": "951ac1a6-4d98-3da3-8c96-bf96539c287b",
                "instanceIdentifier": "4b822850-0199-1000-d49d-1baf81b35e24",
                "name": "Kafka3ConnectionService",
                "comments": "",
                "type": "org.apache.nifi.kafka.service.Kafka3ConnectionService",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-kafka-3-service-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "security.protocol": "PLAINTEXT",
                    "SSL Context Service": null,
                    "ack.wait.time": "5 sec",
                    "sasl.username": null,
                    "max.poll.records": "10000",
                    "sasl.mechanism": "GSSAPI",
                    "isolation.level": "read_committed",
                    "max.block.ms": "5 sec",
                    "bootstrap.servers": "kafka:9092",
                    "kerberos-user-service": null,
                    "sasl.kerberos.service.name": null,
                    "default.api.timeout.ms": "60 sec"
                },
                "propertyDescriptors": {
                    "ack.wait.time": {
                        "name": "ack.wait.time",
                        "displayName": "Acknowledgment Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "sasl.username": {
                        "name": "sasl.username",
                        "displayName": "SASL Username",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "max.poll.records": {
                        "name": "max.poll.records",
                        "displayName": "Max Poll Records",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "bootstrap.servers": {
                        "name": "bootstrap.servers",
                        "displayName": "Bootstrap Servers",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "sasl.kerberos.service.name": {
                        "name": "sasl.kerberos.service.name",
                        "displayName": "Kerberos Service Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "security.protocol": {
                        "name": "security.protocol",
                        "displayName": "Security Protocol",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "sasl.mechanism": {
                        "name": "sasl.mechanism",
                        "displayName": "SASL Mechanism",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "isolation.level": {
                        "name": "isolation.level",
                        "displayName": "Transaction Isolation Level",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "max.block.ms": {
                        "name": "max.block.ms",
                        "displayName": "Max Metadata Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "kerberos-user-service": {
                        "name": "kerberos-user-service",
                        "displayName": "Kerberos User Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "sasl.password": {
                        "name": "sasl.password",
                        "displayName": "SASL Password",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    },
                    "default.api.timeout.ms": {
                        "name": "default.api.timeout.ms",
                        "displayName": "Client Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.kafka.service.api.KafkaConnectionService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-kafka-service-api-nar",
                            "version": "2.4.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "4b85c830-0199-1000-412b-2ab1449a9c7a"
            },
            {
                "identifier": "65b39d31-c546-3165-8505-ede24462a906",
                "instanceIdentifier": "4b836a7f-0199-1000-d5eb-89da09e0bdfc",
                "name": "AWSCredentialsProviderControllerService",
                "comments": "",
                "type": "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-aws-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "profile-name": null,
                    "assume-role-proxy-configuration-service": null,
                    "default-credentials": "false",
                    "Session Time": "3600",
                    "assume-role-ssl-context-service": null,
                    "assume-role-sts-signer-override": "Default Signature",
                    "custom-signer-class-name": null,
                    "Assume Role ARN": null,
                    "custom-signer-module-location": null,
                    "Assume Role Session Name": null,
                    "assume-role-sts-endpoint": null,
                    "assume-role-sts-region": "us-west-2",
                    "Credentials File": null,
                    "assume-role-external-id": null,
                    "anonymous-credentials": "false"
                },
                "propertyDescriptors": {
                    "profile-name": {
                        "name": "profile-name",
                        "displayName": "Profile Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Access Key": {
                        "name": "Access Key",
                        "displayName": "Access Key ID",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    },
                    "assume-role-proxy-configuration-service": {
                        "name": "assume-role-proxy-configuration-service",
                        "displayName": "Assume Role Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "default-credentials": {
                        "name": "default-credentials",
                        "displayName": "Use Default Credentials",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Session Time": {
                        "name": "Session Time",
                        "displayName": "Assume Role Session Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "assume-role-ssl-context-service": {
                        "name": "assume-role-ssl-context-service",
                        "displayName": "Assume Role SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "assume-role-sts-signer-override": {
                        "name": "assume-role-sts-signer-override",
                        "displayName": "Assume Role STS Signer Override",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "custom-signer-class-name": {
                        "name": "custom-signer-class-name",
                        "displayName": "Custom Signer Class Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Assume Role ARN": {
                        "name": "Assume Role ARN",
                        "displayName": "Assume Role ARN",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "custom-signer-module-location": {
                        "name": "custom-signer-module-location",
                        "displayName": "Custom Signer Module Location",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "FILE",
                                "DIRECTORY"
                            ]
                        }
                    },
                    "Assume Role Session Name": {
                        "name": "Assume Role Session Name",
                        "displayName": "Assume Role Session Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "assume-role-sts-endpoint": {
                        "name": "assume-role-sts-endpoint",
                        "displayName": "Assume Role STS Endpoint Override",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "assume-role-sts-region": {
                        "name": "assume-role-sts-region",
                        "displayName": "Assume Role STS Region",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Secret Key": {
                        "name": "Secret Key",
                        "displayName": "Secret Access Key",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    },
                    "Credentials File": {
                        "name": "Credentials File",
                        "displayName": "Credentials File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "assume-role-external-id": {
                        "name": "assume-role-external-id",
                        "displayName": "Assume Role External ID",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "anonymous-credentials": {
                        "name": "anonymous-credentials",
                        "displayName": "Use Anonymous Credentials",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-aws-service-api-nar",
                            "version": "2.4.0"
                        }
                    },
                    {
                        "type": "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-aws-service-api-nar",
                            "version": "2.4.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "4b85c830-0199-1000-412b-2ab1449a9c7a"
            }
        ],
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}